  body{
    font-size: 18px;
  }

  #skilz{
    margin-top: 40px;
  }

  p{
    padding: 10px;
  }

  #scripts{
    margin-left: -195px;
  }

  #tools{
    margin-left: -45px;
  }

  #ops{
    margin-left: -205px;
  }
  